@import "tailwindcss";

@theme {
  /* Kolorów */
  --color-raisinBlack: rgb(38, 38, 38);
  --color-philippineSilver: rgb(178, 178, 178);
  --color-arylideYellow: rgb(239, 213, 111);
  --color-oxfordBlue: rgb(0, 28, 72);

  /* Fonty */
  --font-montserrat: var(--font-montserrat);
  --font-youngest: var(--font-youngest);
}

@layer base {
  /* Podstawowe style body */
  body {
    @apply bg-raisinBlack text-white font-montserrat;
  }
}